<footer class=" bg-white py-8 px-4">
  <div
    class="mx-auto container overflow-hidden flex flex-col md:flex-row justify-between pb-4 text-center md:text-left">
    <div class="w-full text-gray-900 mt-6 md:mt-0 leading-normal">
      <h4 class="py-2 uppercase font-bold tracking-wide">About US</h4>
      <p>{{ lorem.longFull }}</p>
    </div>
    <div class="text-gray-700 flex flex-col items-center w-full md:w-1/4 mt-6 md:mt-0">
      <h4 class="inline-block py-2 px-3 uppercase font-bold tracking-wide text-primary">Follow Us</h4>
      <div class="flex pl-0 md:pl-4 justify-start">
        <a class="block flex items-center text-gray-900 hover:text-black mr-6 no-underline" href="#">
          <i
            class="fab fa-facebook"></i>
        </a>
        <a class="block flex items-center text-gray-900 hover:text-black no-underline" href="#">
          <i
            class="fab fa-twitter"></i>
        </a>
      </div>
    </div>
  </div>
  <div class="pt-4 mt-4 text-gray-700 text-xs border-t border-gray-300 text-center">
  <a href="foxy.io" title="Flexible Ecommerce for your
  website" target="_blank">©2020 FOXY.IO</a>
  </div>
</footer>
