<nav id="menu" class="z-50  bg-white text-center flex
justify-between p-4 mx-auto container overflow-hidden
shadow-lg
sticky top-0 ">
  <a href="/" >
    <img src="/static/img/mylogo.png"  class="rounded-lg
    h-12" id="logo" 
    alt="Logo: A hand drawn store and the slogan: let's get started." >
  </a>

  <ul class="text-sm text-gray-700 list-none p-0 flex
  items-center">
    {%- for item in site.navigation -%}
      {% include "listLink.njk" %}
    {%- endfor -%}
  </ul>

</nav>
