<nav class="font-sans bg-white text-center flex justify-between my-4 mx-auto container overflow-hidden">
  <a href="/" class="block text-left">
    <img src="http://giof.org/wp-content/uploads/2015/11/GIOF-logo-color-350pix-300x98.jpg" class="h-10 sm:h-10" alt="logo">
  </a>
  <ul class="text-sm text-gray-700 list-none p-0 flex items-center">
    <li><a href="https://giof.org/" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Home</a></li>
    <li><a href="http://giof.org/contact-us/" class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Contact</a></li>
    <li class="pr-2"><a href="http://giof.org/support_giof/"
        class="inline-block py-2 px-3 text-gray-900 hover:text-gray-700 no-underline">Support Us</a></li>
  </ul>
</nav>