---
layout: base.njk
title: One-page complete e-commerce or live-event site.
---

<div class="flex flex-wrap md:h-screen">
  <div class="
    w-full md:w-1/2
    h-64 md:h-full
    fixed md:relative
    bg-cover
    z-20
    shadow-xl md:shadow-none
    border-b-2 border-blue-700
    "
    style="background: url(/static/img/field.jpg)"
  >
    {# <div class="relative w-full h-64 p-4" style=""> #}
    <div class="text-center align-middle">
      {# <p>Video goes here :)</p> #}
      <iframe class="absolute w-full h-full" style="" src="https://www.youtube.com/embed/3-I05jttlxM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
    {# </div> #}
  </div>
  <div class="w-full md:w-1/2 h-full md:overflow-y-scroll mt-64 md:mt-0 z-10">
    {% include "nav.njk" %}
    {{ content | safe }}
    {% include "footer_bottom.njk" %}
  </div>
</div>