---
layout: base.njk
title: One-page complete e-commerce or live-event site.
---

<div class="flex flex-wrap h-screen">
  <div class="w-full md:w-1/2 h-full relative" style="background: url(/static/img/field.jpg)">
    <div style="relative w-full" style="height:0; padding-bottom: 56.25%;">
      <iframe class="absolute w-full" style="height:60%" src="https://www.youtube.com/embed/caBJI3o-IoM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
  </div>
  <div class="w-full md:w-1/2 h-full overflow-y-scroll">
    {% include "nav.njk" %}
    {{ content | safe }}
    {% include "footer_bottom.njk" %}
  </div>
</div>