@tailwind base;
@tailwind components;

a {
	@apply text-ws-blue-500 underline;
}

/* From https://tailwindcomponents.com/component/number-input-counter */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}
img#logo {
  max-height: 175px;
}
.custom-number-input input:focus {
	outline: none !important;
}
.custom-number-input button:focus {
	outline: none !important;
}


@tailwind utilities;
