---
layout: onepage.njk
title: GIOF's annual gala, but online this year!
---

<section class="container p-2 pb-4 m-auto flex flex-wrap items-center justify-start">

  {%- for product in collections.product -%}
  <div class="w-full lg:w-1/2 p-2">
    {% include "product.njk" %}
  </div>
  {%- endfor -%}

</section>
